@using WebRazor.Models
@using Microsoft.AspNetCore.Http.Extensions;
<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>
        CAS
    </title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta name="description" content="Web Experience Toolkit (WET) includes reusable components for building and maintaining innovative Web sites that are accessible, usable, and interoperable. These reusable components are open source software and free for use by departments and external Web communities">
    <link rel="alternate" hreflang="fr" href="index-fr.html">
    <link href="../GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/fontawesome-7.0.1/css/all.css">
    <link rel="stylesheet" href="~/lib/themes-dist-17.2.0-gcweb/GCWeb/css/theme.css">
    <link rel="stylesheet" href="~/css/site.css">
    <noscript><link rel="stylesheet" href="~/lib/themes-dist-17.2.0-gcweb/GCWeb/css/noscript.css" /></noscript>
</head>
<body vocab="http://schema.org/" resource="#wb-webpage" typeof="WebPage">
    @{
        var CurrentPageEn = "";
        var CurrentPageFr = "";
        var url = this.Context.Request.GetDisplayUrl();
        if(this.Context.Request.Query.Count < 2)
        {
            url = this.Context.Request.GetDisplayUrl().Replace("?culture=en", "").Replace("?culture=fr", "");
            CurrentPageEn = url + "?culture=en";
            CurrentPageFr = url + "?culture=fr";
        }
        else if (this.Context.Request.Query.Count > 1)
        {
            url = this.Context.Request.GetDisplayUrl().Replace("&culture=en", "").Replace("&culture=fr", "");
            CurrentPageEn = url + "&culture=en";
            CurrentPageFr = url + "&culture=fr";
        }
    }
    @if (CultureInfo.CurrentCulture.Equals(new CultureInfo("fr")))
    {
        <header>
            <div id="wb-bnr" class="container">
                <div class="row">
                    <section id="wb-lng" class="col-xs-3 col-sm-12 pull-right text-right">
                        <h2 class="wb-inv">Sélection de la langue</h2>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="list-inline mrgn-bttm-0">
                                    <li>
                                        <a lang="en" href=@CurrentPageEn>
                                            <span class="hidden-xs" translate="no">English</span>
                                            <abbr title="English" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase" translate="no">en</abbr>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <div class="col-xs-9 col-sm-5 col-md-4">
                        <img src="~/images/cjc-f-315-k-no-url.jpg" alt="Conseil canadien de la magistrature">
                    </div>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 pull-right">
                        <section id="wb-so">
                            <a class="btn btn-primary" href="/Index"><span>Se connecter</span></a>
                        </section>
                    </div>
                </div>
            </div>
        </header>
    }
    else
    {
        <header>
            <div id="wb-bnr" class="container">
                <div class="row">
                    <section id="wb-lng" class="col-xs-3 col-sm-12 pull-right text-right">
                        <h2 class="wb-inv">Language selection</h2>
                        <ul class="list-inline mrgn-bttm-0">
                            <li>
                                <a lang="fr" hreflang="fr" href=@CurrentPageFr>
                                    <span class="hidden-xs" translate="no">Français</span>
                                    <abbr title="Français" translate="no" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">fr</abbr>
                                </a>
                            </li>
                        </ul>
                    </section>
                    <div class="col-xs-9 col-sm-5 col-md-4">
                        <img src="~/images/cjc-f-315-k-no-url.jpg" alt="Canadian Council of Magistrate">
                    </div>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 pull-right">
                        <section id="wb-so">
                            <a class="btn btn-primary" href="/Index"><span>Sign Out</span></a>
                        </section>
                    </div>
                </div>
            </div>
        </header>
    }
    <nav id="wb-bc" property="breadcrumb">
        <h2>You are here:</h2>
        <div class="container">
            <breadcrumb></breadcrumb>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @if (CultureInfo.CurrentCulture.Equals(new CultureInfo("fr")))
    {
        <footer id="wb-info">
            <h2 class="wb-inv">À propos de ce site</h2>
            <div class="gc-main-footer">
                <div class="container">
                    <nav>
                        <h3>Gouvernement du Canada</h3>
                        <ul class="list-unstyled colcount-sm-2 colcount-md-3">
                            <li><a href="/fr/contact.html">Toutes les coordonnées</a></li>
                            <li><a href="/fr/gouvernement/min.html">Ministères et organismes</a></li>
                            <li><a href="/fr/gouvernement/systeme.html">À propos du gouvernement</a></li>
                        </ul>
                        <h4><span class="wb-inv">Thèmes et sujets</span></h4>
                        <ul class="list-unstyled colcount-sm-2 colcount-md-3">
                            <li><a href="/fr/services/emplois.html">Emplois</a></li>
                            <li><a href="/fr/services/immigration-citoyennete.html">Immigration et citoyenneté</a></li>
                            <li><a href="https://voyage.gc.ca/">Voyage et tourisme</a></li>
                            <li><a href="/fr/services/entreprises.html">Entreprises</a></li>
                            <li><a href="/fr/services/prestations.html">Prestations</a></li>
                            <li><a href="/fr/services/sante.html">Santé</a></li>
                            <li><a href="/fr/services/impots.html">Impôts</a></li>
                            <li><a href="/fr/services/environnement.html">Environnement et ressources naturelles</a></li>
                            <li><a href="/fr/services/defense.html">Sécurité nationale et défense</a></li>
                            <li><a href="/fr/services/culture.html">Culture, histoire et sport</a></li>
                            <li><a href="/fr/services/police.html">Services de police, justice et urgences</a></li>
                            <li><a href="/fr/services/transport.html">Transport et infrastructure</a></li>
                            <li><a href="https://www.international.gc.ca/world-monde/index.aspx?lang=fra">Le Canada et le monde</a></li>
                            <li><a href="/fr/services/finance.html">Argent et finances</a></li>
                            <li><a href="/fr/services/science.html">Science et innovation</a></li>
                            <li><a href="/fr/services/autochtones.html">Autochtones</a></li>
                            <li><a href="/fr/services/veterans-militaire.html">Vétérans et militaires</a></li>
                            <li><a href="/fr/services/jeunesse.html">Jeunesse</a></li>
                            <li><a href="/fr/services/evenements-vie.html">Gérer les événements de la vie</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="gc-sub-footer">
                <div class="container d-flex align-items-center">
                    <nav>
                        <h3 class="wb-inv">Organisation du gouvernement du Canada</h3>
                        <ul>

                            <li><a href="https://www.canada.ca/fr/sociaux.html">Médias sociaux</a></li>
                            <li><a href="https://www.canada.ca/fr/mobile.html">Applications mobiles</a></li>
                            <li><a href="https://www.canada.ca/fr/gouvernement/a-propos.html">À propos de Canada.ca</a></li>

                            <li><a href="/fr/transparence/avis.html">Avis</a></li>
                            <li><a href="/fr/transparence/confidentialite.html">Confidentialité</a></li>
                        </ul>
                    </nav>
                    <div class="wtrmrk align-self-end">
                        <img src="~/images/cjc-f-315-k-no-url.jpg" alt="Symbole du gouvernement du Canada">
                    </div>
                </div>
            </div>
        </footer>
    }
    else
    {
        <footer id="wb-info">
            <h2 class="wb-inv">About this site</h2>
            <div class="gc-main-footer">
                <div class="container">
                    <nav>
                        <h3>Government of Canada</h3>
                        <ul class="list-col-xs-1 list-col-sm-2 list-col-md-3">
                            <li><a href="https://www.canada.ca/en/contact.html">All contacts</a></li>
                            <li><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a></li>
                            <li><a href="https://www.canada.ca/en/government/system.html">About government</a></li>
                        </ul>
                        <h4><span class="wb-inv">Themes and topics</span></h4>
                        <ul class="list-unstyled colcount-sm-2 colcount-md-3">
                            <li><a href="https://www.canada.ca/en/services/jobs.html">Jobs</a></li>
                            <li><a href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship</a></li>
                            <li><a href="https://travel.gc.ca/">Travel and tourism</a></li>
                            <li><a href="https://www.canada.ca/en/services/business.html">Business</a></li>
                            <li><a href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
                            <li><a href="https://www.canada.ca/en/services/health.html">Health</a></li>
                            <li><a href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
                            <li><a href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></li>
                            <li><a href="https://www.canada.ca/en/services/defence.html">National security and defence</a></li>
                            <li><a href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></li>
                            <li><a href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></li>
                            <li><a href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
                            <li><a href="https://www.international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></li>
                            <li><a href="https://www.canada.ca/en/services/finance.html">Money and finances</a></li>
                            <li><a href="https://www.canada.ca/en/services/science.html">Science and innovation</a></li>
                            <li><a href="https://www.canada.ca/en/services/indigenous-peoples.html">Indigenous Peoples</a></li>
                            <li><a href="https://www.canada.ca/en/services/veterans-military.html">Veterans and military</a></li>
                            <li><a href="https://www.canada.ca/en/services/youth.html">Youth</a></li>
                            <li><a href="https://www.canada.ca/en/services/life-events.html">Manage life events</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="gc-sub-footer">
                <div class="container d-flex align-items-center">
                    <nav>
                        <h3 class="wb-inv">Government of Canada Corporate</h3>
                        <ul>
                            <li><a href="https://www.canada.ca/en/social.html">Social media</a></li>
                            <li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
                            <li><a href="https://www.canada.ca/en/government/about.html">About Canada.ca</a></li>
                            <li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
                            <li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li>
                        </ul>
                    </nav>
                    <div class="wtrmrk align-self-end">
                        <img src="~/images/cjc-f-315-k-no-url.jpg" alt="Symbol of the Government of Canada">
                    </div>
                </div>
            </div>
        </footer>
    }
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/themes-dist-17.2.0-gcweb/GCWeb/js/wet-boew.js"></script>
    <script src="~/lib/themes-dist-17.2.0-gcweb/GCWeb/js/theme.js"></script>
    <script src="~/lib/fontawesome-7.0.1/js/all.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
