@page
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IStringLocalizer<ReviewModel> localizer
@inject IHtmlLocalizer<ReviewModel> htmlLocalizer
@model ReviewModel
@{
    ViewData["Title"] = "CAS";
    if (HttpContext.Request.Query["culture"] == "fr")
    {
        CultureInfo.CurrentCulture = new CultureInfo("fr");
        CultureInfo.CurrentUICulture = new CultureInfo("fr");
        Response.Cookies.Append(
            CookieRequestCultureProvider.DefaultCookieName,
            CookieRequestCultureProvider.MakeCookieValue(new RequestCulture(CultureInfo.CurrentCulture)),
            new CookieOptions { Expires = DateTimeOffset.UtcNow.AddYears(1) }
        );
    }
    else if (HttpContext.Request.Query["culture"] == "en")
    {
        CultureInfo.CurrentCulture = new CultureInfo("en");
        CultureInfo.CurrentUICulture = new CultureInfo("en");
        Response.Cookies.Append(
            CookieRequestCultureProvider.DefaultCookieName,
            CookieRequestCultureProvider.MakeCookieValue(new RequestCulture(CultureInfo.CurrentCulture)),
            new CookieOptions { Expires = DateTimeOffset.UtcNow.AddYears(1) }
        );
    }

  

}

<div class="text-center">
<form method="post">
        <div>Thank you for submitting your annual statistics.</div><br />
        <div>You will receive a confirmation email at (email associated with user account).</div><br />
        <div>You may now generate reports using your newly entered statistics.</div><br />
        <a class="btn btn-primary" style="color:white;width:200px;height:90px;text-align:center;border-radius:12px;" href="/Index"><span><br />Back to Home</span></a><br />
</form>
</div>
