@page
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IStringLocalizer<FinalMessageModel> localizer
@inject IHtmlLocalizer<FinalMessageModel> htmlLocalizer
@model FinalMessageModel
@{
    ViewData["Title"] = "CAS";
    if (HttpContext.Request.Query["culture"] == "fr")
    {
        CultureInfo.CurrentCulture = new CultureInfo("fr");
        CultureInfo.CurrentUICulture = new CultureInfo("fr");
        Response.Cookies.Append(
            CookieRequestCultureProvider.DefaultCookieName,
            CookieRequestCultureProvider.MakeCookieValue(new RequestCulture(CultureInfo.CurrentCulture)),
            new CookieOptions { Expires = DateTimeOffset.UtcNow.AddYears(1) }
        );
    }
    else if (HttpContext.Request.Query["culture"] == "en")
    {
        CultureInfo.CurrentCulture = new CultureInfo("en");
        CultureInfo.CurrentUICulture = new CultureInfo("en");
        Response.Cookies.Append(
            CookieRequestCultureProvider.DefaultCookieName,
            CookieRequestCultureProvider.MakeCookieValue(new RequestCulture(CultureInfo.CurrentCulture)),
            new CookieOptions { Expires = DateTimeOffset.UtcNow.AddYears(1) }
        );
    }
}

<!-- Custom CSS -->
<link rel="stylesheet" href="~/css/dashboard03.css">

<nav id="wb-bc" property="breadcrumb">
    <div class="container">
        <breadcrumb></breadcrumb>
    </div>
</nav>

<div class="text-center"><h3>Court of Appeal Annual Statistics (CAAS)</h3></div>

<div class="text-center">
<form method="post">
    <br/>
        <br />
        <div>Thank you for submitting your annual statistics.</div><br />
        <div>You will receive a confirmation email at (email associated with user account).</div><br />
        <div>You may now generate reports using your newly entered statistics.</div><br />

@*         <div class="row ">
            <div class="form-group col-md-6">
                <label for="reqJson"><span class="field-name">Request Json </span></label>
                <textarea class="form-control" id="reqJson" name="reqJson" type="text" asp-for="@Model.reqJson" autocomplete="reqJson" style="width:100%" multiple="true" rows="10" readonly>
                            </textarea>
            </div>
            <div class="form-group col-md-6">
                <label for="resJson"><span class="field-name">Response Json </span></label>
                <textarea class="form-control" id="resJson" name="resJson" type="text" asp-for="@Model.resJson" autocomplete="resJson" style="width:100%" multiple="true" rows="10" readonly>
                            </textarea>
            </div>
        </div> *@
        <br/>
        <div class="row"><h3>Response Code returned is: @TempData["responseStatusCode"]</h3></div>
        <div class="row"><h3>The root id returned is: 130653</h3></div>
        <br/>
        <a class="btn btn-primary" style="color:white;width:200px;height:90px;text-align:center;border-radius:12px;" href="/Select"><span><br />Back to Home</span></a><br />
</form>
</div>
