@page
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IStringLocalizer<ReviewModel> localizer
@inject IHtmlLocalizer<ReviewModel> htmlLocalizer
@model IndexModel

@{
    Layout = null;
    ViewData["Title"] = "CAS";
    if (HttpContext.Request.Query["culture"] == "fr")
    {
        CultureInfo.CurrentCulture = new CultureInfo("fr");
        CultureInfo.CurrentUICulture = new CultureInfo("fr");
        Response.Cookies.Append(
            CookieRequestCultureProvider.DefaultCookieName,
            CookieRequestCultureProvider.MakeCookieValue(new RequestCulture(CultureInfo.CurrentCulture)),
            new CookieOptions { Expires = DateTimeOffset.UtcNow.AddYears(1) }
        );
    }
    else if (HttpContext.Request.Query["culture"] == "en")
    {
        CultureInfo.CurrentCulture = new CultureInfo("en");
        CultureInfo.CurrentUICulture = new CultureInfo("en");
        Response.Cookies.Append(
            CookieRequestCultureProvider.DefaultCookieName,
            CookieRequestCultureProvider.MakeCookieValue(new RequestCulture(CultureInfo.CurrentCulture)),
            new CookieOptions { Expires = DateTimeOffset.UtcNow.AddYears(1) }
        );
    }

    var requestCultureFeature = HttpContext.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
    ViewData["Home"] = localizer["Home"];
}
<!DOCTYPE html>
<html class="js backgroundsize borderimage csstransitions fontface svg details progressbar meter mathml cors smallview" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head class="at-element-marker">
    <meta charset="utf-8">
    <title>CAS</title>

    <link rel="apple-touch-icon" sizes="57x57 72x72 114x114 144x144 150x150" class="wb-favicon" href="~/lib/themes-dist-17.2.0-gcweb/GCWeb/assets/favicon-mobile.png">
    <link href="~/lib/themes-dist-17.2.0-gcweb/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon" class="wb-init wb-favicon-inited">
    <link rel="stylesheet" href="~/lib/themes-dist-17.2.0-gcweb/GCWeb/css/theme.css">
    <noscript><link rel="stylesheet" href="~/lib/themes-dist-17.2.0-gcweb/GCWeb/css/noscript.css" /></noscript>
    <link rel="stylesheet" href="~/lib/themes-dist-17.2.0-gcweb/GCWeb/css/messages.css">
</head>

<body class="splash align-content-center" vocab="http://schema.org/" typeof="WebPage" resource="#wb-webpage">
    <main property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">
        <div class="center text-center" style="opacity: 0.6;">
            <div class="sp-hb">
                <h3>Court of Appeal Annual Statistics</h3>
                <div class="sp-bx col-xs-12">
                    <h1 property="name" class="wb-inv">Canada.ca</h1>
                    <div class="row text-center">
                        <div class="col-xs-12 col-md-12">
                            <img src="~/images/cjc-ccm-ef.jpg" alt="Conseil canadien de la magistrature">
                        </div>
                    </div>
                    <br /><br />
                    <div class="row text-center" style="opacity: 1;">
                        <section class="col-xs-6 text-right">
                            <h2 class="wb-inv">Canadian Council of Magistrate</h2>
                            <p><a href="Select/?culture=en" class="btn btn-primary" translate="no">English</a></p>
                        </section>
                        <section class="col-xs-6" lang="fr">
                            <h2 class="wb-inv">Conseil canadien de la magistrature</h2>
                            <p><a href="Select/?culture=fr" class="btn btn-primary" translate="no">Français</a></p>
                        </section>
                    </div>
                </div>
                @*   <div class="sp-bx-bt col-xs-12">
                <div class="row">
                    <div class="col-xs-7 col-md-8">
                        <a href="/en/transparency/terms.html" class="sp-lk">Terms &amp; conditions</a> <span class="glyphicon glyphicon-asterisk"></span> <a href="/fr/transparence/avis.html" class="sp-lk" lang="fr">Avis</a>
                    </div>

                    <div class="col-xs-5 col-md-4 text-right mrgn-bttm-md">
                        <img src="~/images/cjc-e-315-k-no-url.jpg" width="127" alt="Canadian Council of Magistrate">
                    </div>
                </div>
            </div> *@
            </div>
        </div>
    </main>
</body>
</html>
<style>
    body {
        background-image: url('/images/background.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }

</style>
