.span-break {
    display: block;
}

.error-color {
    background-color: #f3e9e8;
    font-family: Arial;
}

.error {
    background-color: #f3e9e8;
    font-family: Arial;
}

.square-bttn {
    background-color: dodgerblue;
    padding: 32px 16px;
}

.section-color {
    background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%);
    border: 2px solid #dee2e6;
    border-radius: 12px;
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

[data-tooltip]:hover::after {
    display: block;
    position: absolute;
    content: attr(data-tooltip);
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border-radius: 6px;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.align-right{
    text-align: right;
}

.align-left {
    text-align: left;
}

.item{
    color: #fff;
}

.d-none{
    display: none;
}

.small-font{
    font-size: small;
}

.cjc-btn-primary {
    color: #fff;
    background-color: #00728F;
    border-color: rgb(19.6082949309, 60.4147465438, 95.3917050691);
}

    .cjc-btn-primary:focus, .cjc-btn-primary.focus {
        color: #fff;
        background-color: rgb(28.3041474654, 87.2073732719, 137.6958525346);
        border-color: black;
    }

    .cjc-btn-primary:hover {
        color: #fff;
        background-color: rgb(28.3041474654, 87.2073732719, 137.6958525346);
        border-color: rgb(9.1732718894, 28.26359447, 44.6267281106);
    }

    .cjc-btn-primary:active, .cjc-btn-primary.active, .open > .cjc-btn-primary.dropdown-toggle {
        color: #fff;
        background-color: rgb(28.3041474654, 87.2073732719, 137.6958525346);
        background-image: none;
        border-color: rgb(9.1732718894, 28.26359447, 44.6267281106);
    }

        .cjc-btn-primary:active:hover, .cjc-btn-primary:active:focus, .cjc-btn-primary:active.focus, .cjc-btn-primary.active:hover, .cjc-btn-primary.active:focus, .cjc-btn-primary.active.focus, .open > .cjc-btn-primary.dropdown-toggle:hover, .open > .cjc-btn-primary.dropdown-toggle:focus, .open > .cjc-btn-primary.dropdown-toggle.focus {
            color: #fff;
            background-color: rgb(22.2170506912, 68.4525345622, 108.0829493088);
            border-color: black;
        }

    .cjc-btn-primary.disabled:hover, .cjc-btn-primary.disabled:focus, .cjc-btn-primary.disabled.focus, .cjc-btn-primary[disabled]:hover, .cjc-btn-primary[disabled]:focus, .cjc-btn-primary[disabled].focus, fieldset[disabled] .cjc-btn-primary:hover, fieldset[disabled] .cjc-btn-primary:focus, fieldset[disabled] .cjc-btn-primary.focus {
        background-color: #2572b4;
        border-color: rgb(19.6082949309, 60.4147465438, 95.3917050691);
    }

    .cjc-btn-primary .badge {
        color: #2572b4;
        background-color: #fff;
    }

.cjc-btn-primary:visited{
    color: #fff;
}

.cjc-blue-text{
    color: blue;
}

.cjc-red-text {
    color: red;
}